@media screen and (max-width: 992px) {
  .input-search .button-secondary {
    width: 120px;
    font-size: 14px;
    border-radius: 0;
  }

  #button-search {
    font-size: 24px;
    border-radius: 0 0 10px 10px !important;
  }

  #recommendation {
    margin-top: 200px;
  }

  #contact h3 {
    font-size: 30px;
    width: 100%;
  }

  .card-contact {
    width: 100%;
    height: auto;
    padding: 52px 48px;
    margin-top: 42px;
  }

  .card-contact h2 {
    font-size: 24px;
    line-height: 60px;
    margin-bottom: 21px;
  }

  #button-search {
    display: block;
    width: 100%;
  }

  .button-secondary {
    display: block;
    width: 100%;
  }
}

/* Untuk Tablet */
@media screen and (max-width: 576px) {
  .hero-tagline h1 {
    line-height: 52px;
  }

  .img-hero {
    width: 75%;
    height: auto;
  }

  #service h2 {
    font-size: 35px;
  }

  #service .sub-title {
    font-size: 16px;
  }

  #service .card-service {
    margin: 15px 0;
  }

  #search h2 {
    font-size: 42px;
    line-height: 52px;
  }

  #search p {
    font-size: 18px;
    line-height: 24p;
  }

  .input-search .button-secondary {
    width: 50%;
    height: 60%;
  }

  #button-search {
    font-size: 17px;
    border-radius: 0;
  }

  .form-control {
    height: 60px !important;
  }
}

/* Untuk Smartphone */
@media screen and (max-width: 350px) {
}
